[user]
	email = carlillos34@gmail.com
	name = Carlos L. Perez
[core]
	editor = 'c:/program files/sublime text 3/subl.exe' -w
[credential]
	helper = manager
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	stat = status --untracked-files=no
    lg = !git lg1
	# config = --git-dir=$HOME\.cfg\.git\ --work-tree=$HOME
[winUpdater]
	recentlySeenVersion = 2.17.0.windows.1
[diff]
	tool = bc
[difftool "bc"]
	path = C:/Program Files/Beyond Compare 4/bcomp.exe
[difftool "bc"]
  cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[merge]
	tool = bc
[mergetool "bc"]
	path = C:/Program Files/Beyond Compare 4/bcomp.exe
[mergetool "bc"]
  cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\"